*{
    color: white;
    
}
body{
    background-color: black;
    background-image: url("./assets/fundo.png");
}
img{
    width: 120px;
    height: 70px;
    margin: 0 24px;
}
header {
    padding: 5px 18px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

ul {
    display: flex;
    list-style: none;
}

li{
    margin: 10px 10px;
    padding: 0px 35px
}

.but{
    font-size: 20px;
    background-color: #5271FF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 150%;
    height: 150%;
}

.but1{
    font-size: 20px;
    background-color: black;
    border: 2px white solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 150%;
    height: 150%;
}

.corpo{
    display: flex;
    justify-content: space-between;
    margin: 45px;
}

.text{
    font-size: 50px;
}

.ima{
    width: 700px;
    height: 50%;
}

button {
    font-size:25px;
    background-color: #5271FF;
    border-radius: 10px;
    width: 40%;
    height: 15%;
}

hr{
    height: 2px;
    background-color: white;
}
